.hero-unit
  %h1 
    CSCU Library
.row
  .span4
    The following directory contains past exams for many Computer Science courses. We are trying to get as many exams as possible in electronic format because accessing the hard-copies in the CSCU office is inconvenient for many students.
  .span4
    Note that we have many more exams (hard-copies) in the CSCU office (ENG111). You're always welcome to drop by and browse our full selection. You can borrow an exam to make copies by leaving your student ID with us.
  .span4
    The exam bank is maintained with your assistance. If your professor gives you copies of past midterms or finals that aren't listed in this directory, please email them to us so they can be added!
%hr
.row
  .span4.offset4
    =link_to courses_path, :class => ['btn', 'btn-primary', 'btn-large'] do
      %i.icon-book
      Enter Library

