.hero-unit
  %h1
    CSCU Exam Bank
=render 'about'

%hr

.row
  .span6
    .row
      The <strong>CSCU Exam Bank</strong> is an open source application created by students from the <a href="http://www.scs.ryerson.ca/~cscu/">Ryerson Computer Science Course Union</a> at Ryerson University in Toronto, Ontario.
      %br
      The documents here are all submitted by either students or professors. The documents are all copyright their original authors and are presented here for the benefit of students.
      %br
      If you want to host your own exam bank for your student group, feel free to get in touch!
      The Ryerson CSCU can be contacted at <a href="mailto:cscu@scs.ryerson.ca">cscu@scs.ryerson.ca</a>.
    %hr
    .row
      The code for this website is open sourced under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0 License</a>. We are very open to <a href="https://github.com/cscu/cscu-library">contributions</a>!
      %br
  .span6
    %h3 Developed by:
    .gitdevelopers
