%h1 Listing documents

%table
  %tr
    %th Title
    %th Last Updated
    -if user_signed_in?
      %th

  - @documents.each do |document|
    %tr
      %td= link_to document.title, document
      %td= "#{time_ago_in_words(document.updated_at)} ago"
      -if user_signed_in?
        %td
          .btn-group
            =link_to 'Show', document, :class => 'btn'
            =link_to 'Edit', edit_document_path(document), :class => 'btn'
            =link_to 'Destroy', document, :confirm => 'Are you sure?', :method => :delete, :class => ['btn', 'btn-danger']

%br
