%h1 Listing courses

%table.table.table-striped
  %tr
    %th Name
    %th Code
    %th

  - @courses.each do |course|
    %tr
      %td= link_to course.code, course
      %td= course.name
      %td
        .btn-group
          =link_to 'Show', course, :class => 'btn'
          =link_to 'Edit', edit_course_path(course), :class => 'btn'
          =link_to 'Destroy', course, :confirm => 'Are you sure?', :method => :delete, :class => ['btn', 'btn-danger']

%br

= link_to 'New Course', new_course_path
