!!!html5
%html
  %head
    %title CSCU Exam Bank
    =stylesheet_link_tag 'application'
    =javascript_include_tag 'application'
    =csrf_meta_tags
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34349809-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    .navbar
      .navbar-inner
        =link_to "CSCU Exam Bank", root_path, :class => 'brand'
        %ul.nav
          %li
            =link_to "Courses", courses_path
          -if user_signed_in?
            %li
              =link_to "Logout", destroy_user_session_path, :method=>'delete'
          %li
            %form{:action => course_search_path}
              %input{:type => 'search', :name => 'query', :placeholder => 'Course Code (eg. CPS109)'}
              %input{:type => 'submit', :value => 'Search'}
    .container
      =yield

