!!!html5
%html
  %head
    %title CSCU Exam Bank
    =stylesheet_link_tag 'application'
    =javascript_include_tag 'application'
    =csrf_meta_tags
  %body
    .navbar
      .navbar-inner
        =link_to "CSCU Exam Bank", root_path, :class => 'brand'
        %ul.nav
          %li
            =link_to "Courses", courses_path
          -if user_signed_in?
            %li
              =link_to "Logout", destroy_user_session_path, :method=>'delete'
          %li
            %form{:action => course_search_path}
              %input{:type => 'search', :name => 'query', :placeholder => 'Course Code (eg. CPS109)'}
              %input{:type => 'submit', :value => 'Search'}
    .container
      =yield

